<!DOCTYPE html>
<html>
  <head>
    <title>Edit Student</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/index">Students List</a></h3>
      <h1>Edit Student</h1>
      <form action="/update/<%= students.surname%>" method="POST">
        <table>
          <tbody>
            <tr>
              <td>Nome</td>
              <td><input type="text" name="name" value="<%= students.name %>" /></td>
            </tr>
            <tr>
              <td>Cognome</td>
              <td><input type="text" name="surname" value="<%= students.surname %>" /></td>
            </tr>
            <tr>
              <td>Class</td>
              <td><input type="text" name="class" value="<%= students.class %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>